.workout-builder-background {
    background-image: linear-gradient(to right, rgb(253, 146, 242), rgb(81, 114, 248));
}

.filters-block {
    display: flex;
    flex-direction: column;
    background-color: #22292D;
    border-radius: 50px;
    width: 30%;
    height: 800px;
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 10px;
}

.filters-block h2{
    font-family: 'montserrat', sans-serif;
}

.workout-builder-container {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

.extra {
    color: #1f2937;
}

.pl {
    display: block;
    width: 6.25em;
    height: 6.25em;
}
.pl__ring, .pl__ball {
    animation: ring 2s ease-out infinite;
}
.pl__ball {
    animation-name: ball;
}

@keyframes ring {
    from {
        stroke-dasharray: 0 257 0 0 1 0 0 258;
    }
    25% {
        stroke-dasharray: 0 0 0 0 257 0 258 0;
    }
    50%, to {
        stroke-dasharray: 0 0 0 0 0 515 0 0;
    }
}
@keyframes ball {
    from, 50% {
        animation-timing-function: ease-in;
        stroke-dashoffset: 1;
    }
    64% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -109;
    }
    78% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -145;
    }
    92% {
        animation-timing-function: ease-in;
        stroke-dashoffset: -157;
    }
    57%, 71%, 85%, 99%, to {
        animation-timing-function: ease-out;
        stroke-dashoffset: -163;
    }
}