.workout-builder-background {
    background-image: linear-gradient(to right, rgb(108, 125, 255), rgb(99, 247, 195));
}

.workout-builder-container {
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-of-excercises {
    background-color: #1f2937;
}

.export-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.export-buttons button {
    margin: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: Inter, sans-serif;
}

.export-buttons button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.selected-exercises {
    margin-top: 15px;
    text-align: left;
}

.selected-exercise-item {
    display: flex;
    align-items: center;
    background: #f4f4f4;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.selected-exercise-item input {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

.selected-exercises-container {
    padding: 15px;
    background: #22292D;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    min-width: 400px;
    overflow: auto;
    color: white;
    font-family: Inter, sans-serif;
}

.selected-exercises-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: montserrat, sans-serif;
}

.selected-exercises-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.selected-exercise-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(108, 125, 255);
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.selected-exercise-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.selected-exercise-item span {
    font-size: 16px;
    color: #555;
}

.remove-exercise-btn {
    background: rgb(99, 247, 195);
    color: black;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.remove-exercise-btn:hover {
    background: rgb(99, 247, 195);
    opacity: 0.5;
}

@media (max-width: 480px) {
    .popup-container {
        width: 95%;
        max-height: 70vh;
    }
}


