/*
 * GLOBAL STYLES
 */
.highlights-background {
    background-image: linear-gradient(to right, rgb(108, 125, 255), rgb(99, 247, 195));
}

/*
 * LAYOUT
 */
.outer-container-wrapper-highlights {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.outer-container-wrapper-highlights h1 {
    margin: 40px;
}

.inner-container-wrapper-highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.highlight {
    flex: 0 0 calc(50% - 30px);
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/*
 * TYPOGRAPHY
 */
.outer-container-wrapper-highlights {
    font-family: montserrat, sans-serif;
}

.highlight {
    font-family: Inter, sans-serif;
}

/*
 * COLORS
 */
.highlight {
    color: white;
    background: transparent;
}

/*
 * BORDERS
 */
.highlight {
    border: solid white 3px;
    border-radius: 5px;
}