*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
 * BACKGROUNDS & CONTAINERS
 */
.contact-background {
    background-image: linear-gradient(to right, rgb(253, 146, 242), rgb(81, 114, 248));
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 79vh;
}

/*
 * COMPONENT: CONTACT FORM
 */
.contact-form {
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    background-color: #1e293b;
}

/*
 * TYPOGRAPHY
 */
.contact-form h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-family: montserrat, sans-serif;
}

/*
 * FORM ELEMENTS
 */
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    transition: border-color 0.3s ease;
    background-color: #2b2f32;
    color: white;
    resize: vertical;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: rgb(99, 247, 195);
    outline: none;
}

.form-group {
    width: 100%;
    margin-bottom: 15px;
}

/*
 * BUTTONS
 */
.contact-button[type="submit"] {
    background: rgb(99, 247, 195);
    color: rgb(34, 41, 45);
    padding: 12px 15px;
    border: 1px solid #ddd;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
    background: #1f2937;
    color: white;
}