.inner.clicked {
    border-color: #6C7DFFFF;
}

.muscle-svg-target {
    min-height: 100%;
    min-width: 100%;
}

.muscle-svg-target path {
    fill: gray;
    transition: fill 0.3s ease-in-out;
}

.highlight-primary {
    fill: red !important;
}

.highlight-secondary {
    fill: yellow !important;
}


.result {
    overflow-y: auto;
    scrollbar-width: none;
}

.outer {
    gap: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.inner {
    width: 350px;
    border-radius: 5px;
    border: 2px solid white;
    transition: border-color 0.3s ease-in-out;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: flex-start;
}

.inner.with-instructions {
    height: auto;
}

.instructions {
    max-height: 300px;
    overflow-y: scroll;
    margin-top: 10px;
}


.sel-rem-btn {
    height: 39px;
    background: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.sel-rem-btn:hover {
    background: rgba(220, 53, 69, 0.5);
}

.selectable-exercise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #1e293b, #334155);
    border-radius: 1rem;
    border: white 2px solid;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    font-family: 'Inter', 'Arial', sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
    min-height: 50px;
}

.selectable-exercise:last-child {
    margin-bottom: 0;
}

.selectable-exercise.active {
    border-color: #6C7DFFFF;
    transform: translateY(-3px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}


.add-sets div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.set-input input {
    background: #444;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #ccc;
    max-width: 100px;
    color: white;
}

.sets-rem-btn {
    height: 39px;
    background: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    transition: background 0.2s ease;
}

.sets-rem-btn:hover{
    background: rgba(220, 53, 69, 0.5);

}

.add-sets-btn {
    margin-top: 10px;
    height: 39px;
    width: 110px;
    background: #63F7C3;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 20px;
    transition: background 0.2s ease;
}

.add-sets-btn:hover {
    background: rgba(99, 247, 195, 0.5);
}


.add-sets {
    max-height: 500px;
    overflow-y: auto;
    scrollbar-width: none;
}


.selectable-exercise {
    max-height: 500px;
    overflow-y: auto;
}






