/*
 * GLOBAL STYLES
 */
.testimonials-background {
    background: linear-gradient(to bottom, #1f252a, #2a2e35);
}

/*
 * LAYOUT
 */
.intro-text-testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 35px 0 35px;
}

/*
 * TYPOGRAPHY
 */
.intro-text-testimonials h1 {
    font-family: montserrat, sans-serif;
}

.intro-text-testimonials p {
    font-family: Inter, sans-serif;
}

/*
 * COLORS
 */
.intro-text-testimonials {
    color: white;
}