/*
 * BACKGROUNDS & CONTAINERS
 */
.faq-background {
    background-image: linear-gradient(to right, rgb(108, 125, 255), rgb(99, 247, 195));
}

.outer-container-wrapper-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 79vh;
}

/*
 * TYPOGRAPHY
 */
.outer-container-wrapper-faq h1 {
    font-family: Montserrat, sans-serif;
    padding-top: 20px;
    color: #1e293b;
}

.answer {
    margin-top: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #d1d5db;
}

/*
 * COMPONENT: FAQ QUESTION
 */
.question {
    background-color: #1e293b;
    width: 600px;
    border-radius: 5px;
    color: white;
    font-family: Inter, sans-serif;
    padding: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.question.expanded {
    padding-bottom: 20px;
}

.question:hover {
    background-color: #334155;
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
 * INTERACTIVE ELEMENTS
 */
.arrow {
    transition: transform 0.3s ease;
    color: white;
    max-width: 50px;
}

.arrow-active {
    transform: rotate(180deg);
}