/*
 * LAYOUT COMPONENTS
 */
.loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*
 * TYPOGRAPHY
 */
.loader-message {
    color: white;
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
}